<div class="block-quote">
    <div class="theme-container">
        <div class="text-container">
            <div class="theme-headline headline">{{ block.headline|html_sanitize }}</div>
            <div class="theme-headline caption">{{ block.caption|html_sanitize  }}</div>
        </div>
    </div>
</div>
